# virtual environment
env/
venv/
.venv/

# practice folder
practice/

# python cache
__pycache__/
*.pyc

# notebooks checkpoints
.ipynb_checkpoints/

# raw datasets
data/raw/

# optional: ignore all csv files
*.csv